{% extends 'base.html' %}
{% block title %}Poll{% endblock %}
{% block menu %}
{#        <li><a href="{% url 'poll_update' poll.pk %}">Update</a></li>#}

{% endblock %}
{% block content %}
    <h1>{{ poll.question }}</h1>

    <form action="{% url "main_poll" poll.pk %}" method="POST">
   {% csrf_token %}
        {% for choice in choices %}
            <input type="radio" value="{{ choice.pk }}" id="{{ choice.pk }}" name="answer"> {{ choice }}<hr/>
        {% endfor %}
        <input type="submit" value="Select" class="btn btn-primary">
   </form>
{% endblock %}


