{% extends 'base.html' %}
{% block title %}Poll{% endblock %}
{% block menu %}
        <li><a href="{% url 'poll_update' poll.pk %}">Update</a></li>
        <li><a href="{% url 'poll_delete' poll.pk %}">Delete</a></li>

{% endblock %}
{% block content %}
    <h1>{{ poll.question }}</h1>
    {% for text in poll.choices.all %}
        <p>{{ text }}</p>
        <a href="{% url 'choice_update' text.pk %}"><p>Update</p></a>
        <a href="{% url 'choice_delete' text.pk %}"><p>Delete</p></a>
        <hr/>
    {% endfor %}
    <a href="{% url 'choice_create_poll' poll.pk  %}" methods="POST" id="create"><p>Add choice</p></a>

{% endblock %}

